<p>Stupid coach is saying</p>

<p><%= @output %></p>

<p>Want to try again? </p>

<p class="btn btn-outline-secondary" type="button" id="button-addon2"><%= link_to "Ask again to the amazing coach", ask_path %></p>
