<h1>Hello</h1>

<p>Welcome in stupid coaching</p>

<p>What's your question for today ?</p>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="Type question">
  <input type="submit" value="Ask to Stupid Coach!" class="btn btn-outline-secondary" type="button" id="button-addon2">
</form>
